<html>
    <head>
        <title>Список вопросов для запоминания</title>
    </head>
    <body>
        <h1>Список вопросов для запоминания</h1>
        <form method="POST">
            <input name="item_text" id="id_new_item" placeholder="Введите вопрос" />
            {% comment %} <input name="item_text_answer" id="id_new_item_answer" placeholder="Введите ответ" /> {% endcomment %}
            {% csrf_token %}
        </form>
        <table id="id_list_table">
            {% for item in items %}
                <tr>
                    <td>Вопрос: {{ item.text }}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </body>
</html>